<form action="users_url" method="POST">

<label for="username" >Username</label>
    <input type="text" name="user[user_name]" id="username">
</form>

<label for="password" >Password</label>
    <input type="password" name="user[password]" id="password" value=""><br>

<button>Create User</button>

</form>